<div *ngIf="!total(); else cartContent" class="cart-container-empty">
  <p class="text-preset-2 red" style="align-self: flex-start;">Your Cart (0)</p>
  <img src="images/illustration-empty-cart.svg" alt="Empty Cart">
  <p class="text-preset-4-bold">Your added items will appear here</p>
</div>

<ng-template #cartContent>
  <div class="cart-container">
    <p class="text-preset-2 red" style="align-self: flex-start;">Your Cart ({{
      total() }})</p>
    <div *ngFor="let product of cartProducts(); let i = index"
      class="product-item">
      <div class="product-description">
        <p class="text-preset-4-bold">{{ product.name }}</p>
        <div class="product-price">
          <p class="red">{{ product.quantity }}x</p>
          <p class="text-preset-4"><span>&#x40;</span>{{ product.price |
            currency }}</p>
          <p class="text-preset-4-bold">{{ (product.quantity *
            product.price) |
            currency }}</p>
        </div>
      </div>
      <button class="remove-product-button" title="Remove product from cart"
        (click)="removeProduct(product)">
        <img src="images/icon-remove-item.svg">
      </button>
    </div>
    <div class="separator"></div>

    <div class="cart-total">
      <p class="text-preset-4">Order Total</p>
      <p class="text-preset-2"> {{ totalPrice() | currency }} </p>
    </div>

    <div class="cart-carbon-neutral">
      <img src="images/icon-carbon-neutral.svg" alt="Icon Carbon Neutral">
      <p class="text-preset-4">This is a <span
          class="text-preset-4-bold">carbon-neutral</span> delivery</p>
    </div>

    <button class="confirm-order-button" title="Confirm Order" (click)="open()">
      <p class="text-preset-3 white">Confirm Order</p>
    </button>
  </div>
</ng-template>
