.cart-container-empty {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.cart-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.cart-container .product-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-container .product-item .product-description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cart-container .product-item .product-description .product-price {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.cart-container .product-item .remove-product-button {
  background: none;
  border: none;
}

.cart-container .product-item .remove-product-button img {
  border: 1px solid #ad8a85;
  border-radius: 50%;
  padding: 0.25rem;
}

.cart-container .product-item .remove-product-button:active {
  transform: translate(1px, 1px);
}

.cart-container .separator {
  border: 1px solid #f5eeec;
  width: 100%;
}

.cart-container .cart-total {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-container .cart-carbon-neutral {
  align-items: center;
  background-color: #fcf8f6;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.cart-container .confirm-order-button {
  align-items: center;
  background-color: #c73b0f;
  border: 1px solid #caafa7;
  border-radius: 3rem;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.75rem 2rem;
  width: 100%;
}

.cart-container .confirm-order-button:active {
  transform: translate(1px, 1px);
}
/* Initial Modal Style */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* Animated State */
.modal-open .modal-content {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* Keyframes for smooth animation */
@keyframes modalShow {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.confirm-order-button:active {
  animation: buttonClick 0.2s ease-in-out;
}

/* Modal Transition when opened */
.modal-open .modal-content {
  animation: modalShow 0.5s ease forwards;
}
